body{
    margin:0;
    padding: 2rem;
    font-size: large;
    font-family:sans-serif;
}

.cf_monitor{
    display:none;
}

img{
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

p,li{
    margin-right: 5rem;
}

code{
    color:blue;
    background-color: gainsboro;
    font-weight: bold;
    font-size: larger;
    padding:2px;
}

pre,blockquote{
    margin-left: 1rem;
    background-color: gainsboro;
    padding: 2px;
}

.sect{
    margin-top: 5rem;
    font-size:x-large;
    font-weight: bold;
}

.sect:visited{
    color:darkmagenta;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:0;
    margin-right:0;
    padding:0;
}

.cpp-section{
    font-weight: bold;
    margin-top: 2rem;
    font-size:x-large;
}