body,table{
    margin:0;
    padding: 0;
    font-size: larger;
    font-family:sans-serif;
}

main{
    padding:2rem;
}

.headerbar{
    background-color:#9caad4;
    display: flex;
    position:sticky;
    left:0px;
    right: 0px;
    top:0px;
    height:4rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 5px black;
}

.headerbar *{
    vertical-align: middle;
}

.headerbar span{
    font-weight: bold;
    font-size:x-large;
}
.cf_monitor{
    display:none;
}

img{
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

p,li{
    margin-right: 5rem;
}

code{
    color:blue;
    background-color: gainsboro;
    font-weight: bold;
    font-size: larger;
    padding:2px;
}

pre,blockquote{
    margin-left: 1rem;
    background-color: gainsboro;
    padding: 2px;
}

.sect{
    margin-top: 5rem;
    font-size:x-large;
    font-weight: bold;
}

.sect:visited{
    color:darkmagenta;
}

hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:0;
    margin-right:0;
    padding:0;
}

.cpp-section{
    font-weight: bold;
    margin-top: 2rem;
    font-size:x-large;
}

.cpp-note{
    border: 1px solid black;
    border-radius: 1.5rem;
    padding:5px;
    margin-top: 1.5rem;
}

.cpp-note.cpp-lightgreenbackground{
    background-color: lightgreen;
}

.cpp-note.cpp-lightbluebackground{
    background-color: #dfe7ff;
    border-color: #9caad4;
    box-shadow: 0 2px #9caad4;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 10px;
}